In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\raksh\desktop\news_classification\env\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\raksh\desktop\news_classification\env\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\raksh\desktop\news_classification\env\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\raksh\desktop\news_classification\env\lib\site-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in c:\users\raksh\desktop\news_classification\env\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: colorama in c:\users\raksh\desktop\news_classification\env\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [3]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("WELFake_Dataset.csv")

In [6]:
data.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [7]:
data.dropna(inplace=True)

In [8]:
data.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
5,5,About Time! Christian Group Sues Amazon and SP...,All we can say on this one is it s about time ...,1

In [9]:
genuine_news = data[data['label'] != 0]

In [10]:
genuine_news.head(10)

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
5,5,About Time! Christian Group Sues Amazon and SP...,All we can say on this one is it s about time ...,1
6,6,DR BEN CARSON TARGETED BY THE IRS: “I never ha...,DR. BEN CARSON TELLS THE STORY OF WHAT HAPPENE...,1
7,7,HOUSE INTEL CHAIR On Trump-Russia Fake Story: ...,,1
8,8,Sports Bar Owner Bans NFL Games…Will Show Only...,"The owner of the Ringling Bar, located south o...",1
9,9,Latest Pipeline Leak Underscores Dangers Of Da...,"FILE – In this Sept. 15, 2005 file photo, the ...",1
10,10,GOP Senator Just Smacked Down The Most Puncha...,The most punchable Alt-Right Nazi on the inter...,1
13,13,WATCH: HILARIOUS AD Calls Into Question Health...,"After watching this telling video, you ll wond...",1

In [11]:
fake_news = data[data['label'] == 0]

In [12]:
fake_news.head(10)

,Unnamed: 0,title,text,label
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
11,11,"May Brexit offer would hurt, cost EU citizens ...",BRUSSELS (Reuters) - British Prime Minister Th...,0
12,12,Schumer calls on Trump to appoint official to ...,"WASHINGTON (Reuters) - Charles Schumer, the to...",0
14,14,No Change Expected for ESPN Political Agenda D...,As more and more sports fans turn off ESPN to ...,0
15,15,Billionaire Odebrecht in Brazil scandal releas...,RIO DE JANEIRO/SAO PAULO (Reuters) - Billionai...,0
17,17,U.N. seeks humanitarian pause in Sanaa where s...,GENEVA (Reuters) - The United Nations called o...,0
19,19,Second judge says Clinton email setup may have...,NEW YORK (Reuters) - A second federal judge ha...,0
26,26,Supreme Court Won’t Hear Appeal From Texas on ...,WASHINGTON — The Supreme Court rejected on ...,0
27,27,Islamic State driven out of last stronghold in...,BAGHDAD (Reuters) - Iraqi forces announced on ...,0
28,28,Senators Propose Giving States Option to Keep ...,WASHINGTON — Several Republican senators on...,0

In [13]:
len(fake_news), len(genuine_news)

(35028, 36509)

In [14]:
# fake_news.drop("Unnamed: 0", axis=1, inplace=True)

In [15]:
data.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
5,5,About Time! Christian Group Sues Amazon and SP...,All we can say on this one is it s about time ...,1

In [16]:
data.drop(['Unnamed: 0','title'], axis=1, inplace=True)

In [17]:
data.head()

                                                text  label
0  No comment is expected from Barack Obama Membe...      1
2   Now, most of the demonstrators gathered last ...      1
3  A dozen politically active pastors came here f...      0
4  The RS-28 Sarmat missile, dubbed Satan 2, will...      1
5  All we can say on this one is it s about time ...      1

In [18]:
print(data.columns)

Index(['text', 'label'], dtype='object')

### Tokenization

In [19]:
from nltk.tokenize import word_tokenize

In [20]:
data['text'] = data['text'].apply(word_tokenize)

In [21]:
print(data.head())

                                                text  label
0  [No, comment, is, expected, from, Barack, Obam...      1
2  [Now, ,, most, of, the, demonstrators, gathere...      1
3  [A, dozen, politically, active, pastors, came,...      0
4  [The, RS-28, Sarmat, missile, ,, dubbed, Satan...      1
5  [All, we, can, say, on, this, one, is, it, s, ...      1

### STEMMING

In [23]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english")

In [24]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [25]:
data['text'] = data['text'].apply(stem_it)

In [26]:
print(data.head())

                                                text  label
0  [no, comment, is, expect, from, barack, obama,...      1
2  [now, ,, most, of, the, demonstr, gather, last...      1
3  [a, dozen, polit, activ, pastor, came, here, f...      0
4  [the, rs-28, sarmat, missil, ,, dub, satan, 2,...      1
5  [all, we, can, say, on, this, one, is, it, s, ...      1

### STOPWORD REMOVAL

In [35]:
#import nltk
#from nltk.corpus import stopwords
#nltk.download('stopwords')
#print(stopwords.words('english'))

In [30]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [31]:
data['text'] = data['text'].apply(stop_it)

In [32]:
data.head()

                                                text  label
0  [comment, expect, from, barack, obama, member,...      1
2  [now, most, the, demonstr, gather, last, night...      1
3  [dozen, polit, activ, pastor, came, here, for,...      0
4  [the, rs-28, sarmat, missil, dub, satan, will,...      1
5  [all, can, say, this, one, about, time, someon...      1

In [33]:
data['text'] = data['text'].apply(' '.join)

### SPLITTING

In [38]:
from sklearn.model_selection import train_test_split
X = data['text']
y = data['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

49872    pamela bofferd our hous back school mean back ...
48656    share this the clinton foundat and foreign don...
3830     washington reuter u.s. senat democrat leader c...
29989    washington reuter urg u.s. president-elect don...
1530     soon after newli elect travi counti sheriff sa...
Name: text, dtype: object

49872    1
48656    1
3830     0
29989    0
1530     1
Name: label, dtype: int64

In [53]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [54]:
print(tfidf_train)

  (0, 142416)	0.36874276037090453
  (0, 52605)	0.19059526611020644
  (0, 143573)	0.12225123218677614
  (0, 12656)	0.07495899892725143
  (0, 53359)	0.13849848263224157
  (0, 45495)	0.16160057763834462
  (0, 36746)	0.2944589092685294
  (0, 118504)	0.14042313693464495
  (0, 146072)	0.11969133728268859
  (0, 135161)	0.2352085543038501
  (0, 84124)	0.13010087884139204
  (0, 154836)	0.07557248074044297
  (0, 59211)	0.36298928676503195
  (0, 67762)	0.1251828868490741
  (0, 26347)	0.1381032529839583
  (0, 79709)	0.18148119708377528
  (0, 91947)	0.12239772677773351
  (0, 126799)	0.14577864562822945
  (0, 18968)	0.18834400026776546
  (0, 68345)	0.096358014555327
  (0, 106210)	0.08914207201096096
  (0, 24499)	0.42847409290557714
  (0, 107492)	0.30193209427736756
  (1, 100620)	0.01918623240507325
  (1, 79958)	0.0234170111704883
  :	:
  (53651, 72746)	0.04329828301681742
  (53651, 153844)	0.016623760684936414
  (53651, 158249)	0.021720070973677653
  (53651, 13540)	0.07903419382504615
  (53651, 62382)	0.026812165634601186
  (53651, 86663)	0.01914315567156567
  (53651, 29875)	0.0374982739114447
  (53651, 28774)	0.02683235780720119
  (53651, 96205)	0.03677062887784981
  (53651, 83122)	0.02831654627150739
  (53651, 104952)	0.022619743957651588
  (53651, 111370)	0.018985309316086302
  (53651, 100327)	0.013864855281972684
  (53651, 108752)	0.04720691090386705
  (53651, 113818)	0.012616007491886499
  (53651, 35063)	0.021731578345165568
  (53651, 21209)	0.011989998766007913
  (53651, 55800)	0.029896937697004078
  (53651, 141999)	0.010117000238352084
  (53651, 12656)	0.03855754371665249
  (53651, 146072)	0.02052234793165962
  (53651, 135161)	0.08065799743762106
  (53651, 84124)	0.022307174123151096
  (53651, 18968)	0.06458714877930807
  (53651, 68345)	0.03304320505731963

### LOGISTIC REGRESSION

In [55]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [56]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test, pred_1)
print(cr1*100)

95.27537042214146

### PASSIVE AGGRESSSIVE CLASSIFIER

In [57]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [58]:
y_pred = model.predict(tfidf_test)
acc_score = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ', acc_score*100)

The accuracy of prediction is  96.90802348336595